<link rel="stylesheet" href="/progressbar.css">

<div id="progressBar">
	<span> Phase: {{ phase }} / 3 </span>
	<input type="text" value="{{phase}}" />
	<ul>
		<li>Address</li>
		<li>Shipping method</li>
		<li>Order Summary</li>
	</ul>
</div>