<link rel="stylesheet" href="/shippingDetails.css">
<div id="shippingMethod">
	<h1>Shipping method</h1>
	<div id="shippingMethods">
		<div class="row">
			<input type="radio" name="postmethod" value="male">
			Smartpost
		</div>
		<div class="row">
			<input type="radio" name="postmethod" value="female">Post
		</div>
	</div>
</div>