<!-- views/signup.ejs -->
<!doctype html>
<html>
    <head>
        <title>Order confirmation</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
        <style>
        body        { padding-top:80px; }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="col-sm-6 col-sm-offset-3">
                <h1><span class="fa fa-sign-in"></span>Order confirmation</h1>
                <form action="/pay" method="post">
                    <div class="table-responsive col-sm-12">
                        <table class="table table-striped ngCart cart" >
                            <tr>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Quantity</th>
                            </tr>
                            <% for(var i=0; i < items.length; i++) { %>
                            <tr>
                                <!-- <td><%= items[i]._id %></td> -->
                                <td><%= items[i]._name %></td>
                                <td><%= items[i]._price %></td>
                                <td><%= items[i]._quantity %></td>
                            </tr>
                            <% } %>
                        </table>
                        <button type="submit" class="btn btn-warning btn-lg">Pay</button>
                    </div>
                </form>
                <hr>
            </div>
        </div>
    </body>
</html>ยง