//colors
$black_80: rgba(0,0,0,0.8);
$color_apple_approx: rgba(53, 170, 36, 1);
$black_50: rgba(0,0,0,0.5);
$color_mortar_approx: #545;
$white: #fff;
$black: #000;
$color_mountain_mist_approx: #999999;
$color_sea_mist_90_approx: rgba(190, 233, 203, 0.9);
// $color_sea_mist_90_approx: rgba(242, 249, 244, 0.9);
$white_90: rgba(255,255,255,0.9);

//fonts
$font_0: Josefin Slab;
$font_1: Helvetica Neue;
$font_2: Helvetica;
$font_3: Arial;
$font_4: sans-serif;
$font_5: Hammersmith One;
$font_6: Open Sans;

//@extend-elements
//original selectors
//h1, h2, h3, h4, h5, h6
%extend_1 {
	text-transform: uppercase;
	font-family: $font_0, $font_1, $font_2, $font_3, $font_4;
	font-weight: 700;
	letter-spacing: 1px;
}


body {
	font-family: $font_5, $font_6, $font_1, $font_2, $font_3, $font_4;
	background: url('../images/nice_snow.png') no-repeat center center fixed;
	background-size: cover;
}
h1 {
	@extend %extend_1;
}
h2 {
	@extend %extend_1;
}
h3 {
	@extend %extend_1;
}
h4 {
	@extend %extend_1;
}
h5 {
	@extend %extend_1;
}
h6 {
	@extend %extend_1;
}
p {
	font-size: 0.8em;
	line-height: 1.6;
	color: $black;
}
hr {
	max-width: 400px;
	border-color: $color_mountain_mist_approx;
}
.brand {
	display: none;
}
.address-bar {
	display: none;
}
.navbar-brand {
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 2px;
}
.navbar-nav {
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 3px;
}
.img-full {
	min-width: 100%;
}
.brand-before {
	text-transform: capitalize;
	margin: 10px 0;
}
.brand-name {
	text-transform: capitalize;
	margin: 0;
	font-size: 3em;
}
.tagline-divider {
	margin: 15px auto 3px;
	max-width: 250px;
	border-color: $color_mountain_mist_approx;
}
.box {
	margin-bottom: 20px;
	padding: 30px 15px;
	// background: $white;
	// background: $color_sea_mist_90_approx;
}
.intro-text {
	text-transform: uppercase;
	font-size: 0.8em;
	font-weight: 400;
	letter-spacing: 1px;
}
.img-border {
	float: none;
	margin: 0 auto 0;
	border: $color_mountain_mist_approx solid 1px;
}
.img-left {
	float: none;
	margin: 0 auto 0;
}
footer {
	background: $white;
	background: $white_90;
	p {
		margin: 0;
		padding: 50px 0;
	}
}
@media screen and (min-width:768px) {
	.brand {
		display: inherit;
		margin: 0;
		padding: 0;
		text-align: center;
		//Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		text-shadow: 1px 1px 2px $black_80;
		font-family: $font_0, $font_1, $font_2, $font_3, $font_4;
		font-size: 2.5em;
		font-weight: 700;
		line-height: normal;
		color: $color_apple_approx;
	   	outline: 0 !important;
		text-decoration: none !important;

	}
	
	.brand:hover{
	   color: $color_apple_approx;
	}
	.brand:visited{
	   color: $color_apple_approx;
	}
	
	.top-divider {
		margin-top: 0;
	}
	.img-left {
		float: left;
		margin-right: 25px;
	}
	.address-bar {
		display: inherit;
		margin: 0;
		padding: 0 0 20px;
		text-align: center;
		//Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		text-shadow: 1px 1px 2px $black_50;
		text-transform: uppercase;
		font-size: 0.9em;
		font-weight: 400;
		letter-spacing: 3px;
		color: $color_mortar_approx;
	}
	.navbar {
		//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
		border-radius: 0;
		min-height: 0;
	}
	.navbar-header {
		display: none;
	}
	.navbar-default {
		border: none;
		background: $white;
		background: #FFF;
	}
	.nav>li>a {
		padding: 10px;
	}
	.navbar-nav>li>a {
		line-height: normal;
	}
	.navbar-nav {
		display: table;
		float: none;
		margin: 0 auto;
		table-layout: fixed;
		font-size: 0.9em;
	}
}
@media screen and (min-width:1200px) {
	.box:after {
		content: '';
		display: table;
		clear: both;
	}
}