//colors
$color_summer_green_approx: rgba(155, 189, 160, 1);
$color_nobel_approx: #b3b3b3;

#ruokalista {
	.today {
		border: solid;
		border-width: 5px;
		border-color: $color_summer_green_approx;
		padding: 20px;
		//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
		border-radius: 50px;
		//Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: #B3B3B3 28px 28px 28px;
	}
	.day {
		margin-bottom: 10px;
	}
	li {
		list-style: none;
	}
}