<div class="row" id="kuvagalleria"> 
<!--THIS should not be if controller is already defined for the template in app.js  
Otherwise the controller will be initialized (and executed) twice
ng-controller="KuvagalleriaCtrl"> -->
	<div class="box">
		<div class="col-lg-12">
			<hr>
			<h2 class="intro-text text-center">
				<strong>kuvagalleria</strong>
			</h2>
			<hr>
			<hr class="visible-xs">

			<div class="row slider" ng-repeat="slideItem in slideItems" >
				<div class="row">
					<strong>{{ slideItem.header }}</strong>
				</div>				
				<div class="row">
					<carousel interval="myInterval">
						<slide ng-repeat="slide in slideItem.images" active="slide.active">
							<img ng-src="{{ slide.image }}" style="margin:auto;">
							<div class="carousel-caption">
								<p>{{ slide.text }}</p>
							</div>
						</slide>
					</carousel>
				</div>
			</div>
	
			<!-- <div class="row slider">
				<div class="row">
					<strong>Karvisen 15-vuotisjuhlat</strong>
				</div>
				<div class="row">
					<carousel interval="myInterval">
						<slide ng-repeat="slide in slides2" active="slide.active">
							<img ng-src="{{slide.image}}" style="margin:auto;">
							<div class="carousel-caption">
								<p>{{slide.text}}</p>
							</div>
						</slide>
					</carousel>		
				</div>
			</div> -->
		</div>	
	</div>
</div>
