<div id="ryhmat" class="row" ng-controller="RyhmatCtrl">
  <div class="box">
    <div class="col-lg-12">
      <hr>
      <h2 class="intro-text text-center">Ryhmätoimintaa Karvisessa<br><br>
      <strong>Viikko-ohjelma syksy 2014</strong>
      </h2>
      <hr>
      <div class="day" ng-class="{today: monday}">
        <strong>MAANANTAI</strong>
        <ul>
          <li><span class="glyphicon glyphicon-time"></span> <strong>09.30 - 11.00</strong> <br> Pelikerho</li>
          <li><span class="glyphicon glyphicon-time"></span> <strong>12.30 - 14.00</strong> <br> Jumppa ja painonhallintaryhmä</li>
          <li><span class="glyphicon glyphicon-time"></span> <strong>13.00 - 14.30</strong> <br> Otson ATK - opetus</li>
        </ul>
      </div>
      <div class="day" ng-class="{today: tuesday}">
        <strong>TIISTAI</strong>
        <ul>
          <li><span class="glyphicon glyphicon-time"></span> <strong>9.00</strong><br>Leivänjako</li>
          <li><span class="glyphicon glyphicon-time"></span> <strong>9 - 10</strong><br> Pohjoisen päihdepoliklinikan ohjaajan vastaanotto ( 21.10, 4.11, 18.11, 2.12, 16.12, 30.12</li>
          <li><span class="glyphicon glyphicon-time"></span> <strong>9.30 - 10.30</strong><br> Näytelmäkerho / sketsiryhmä, Raimo ja Veikko</li>
          <li><span class="glyphicon glyphicon-time"></span> <strong>10 - 11</strong><br>Arabian kielen alkeet</li>
          <li><span class="glyphicon glyphicon-time"></span> <strong>12.00 - 13.00</strong><br>Naisten ryhmä - toimintaa ja keskustelua, Arja</li>
        </ul>
      </div>
      <div class="day" ng-class="{today: wednesday}">
        <strong>KESKIVIIKKO</strong>
        <ul>
          <li><span class="glyphicon glyphicon-time"></span> <strong>9.00 - 11.00</strong><br>Biliskerho Malmin nuorisotalolla </li>
          <li><span class="glyphicon glyphicon-time"></span> <strong>10.15 - 11.00</strong><br>Tiina ja Heikki laulattavat yhteislauluja pianon säestyksellä</li>
          <li><span class="glyphicon glyphicon-time"></span> <strong>12.00 - 13.30</strong><br>Englannin kieliryhmä</li>
          <li><span class="glyphicon glyphicon-time"></span> <strong>14.30 - 16.00</strong><br>Liiku ja virkisty - jumppa Syystien palvelukeskuksessa </li>
        </ul>
      </div>
      <div class="day" ng-class="{today: thursday}">
        <strong>TORSTAI</strong>
        <ul>
          <li><span class="glyphicon glyphicon-time"></span> <strong>9.00 - 11.00</strong> <br>Käsityökerho, Tuula</li>
          <li><span class="glyphicon glyphicon-time"></span> <strong>10.00 - 11.00</strong> <br>Miesten keskusteluryhmä, Jartsa </li>
          <li><span class="glyphicon glyphicon-time"></span> <strong>12.00 - 13.00</strong><br>Bingo</li>
          <li><span class="glyphicon glyphicon-time"></span> <strong>14.00 -</strong> <br>Uinti Malmin uimahallilla ( Naiset pariton, miehet parillisella viikolla )</li>
        </ul>
      </div>
      <div class="day" ng-class="{today: friday}">
        <strong>PERJANTAI</strong>
        <ul>
          <li><span class="glyphicon glyphicon-time"></span> <strong>9.00</strong><br>Leivänjako</li>
          <li><span class="glyphicon glyphicon-time"></span> <strong>9.30 - 11.00</strong> <br>Avoin keskusteluryhmä, Sinikka</li>
          <li><span class="glyphicon glyphicon-time"></span> <strong>9.00 - 11.00</strong><br>Biliskerho Malmin nuorisotalolla</li>
          <li><span class="glyphicon glyphicon-time"></span> <strong>11.30 - 13.30</strong><br>Askartelukerho, Eeva</li>
          <li><span class="glyphicon glyphicon-time"></span> <strong>12.15 - 15.00</strong><br>Karaoke, Jartsa</li>
        </ul>
      </div>
      <div class="day" ng-class="{today: saturday}">
        <strong>LAUANTAI</strong>
        <ul>
          <li>Vapaata yhdessäoloa</li>
        </ul>
      </div>
      <div class="day" ng-class="{today: sunday}">
        <strong>SUNNUNTAI</strong>
            <ul><li>Suljettu</li></ul>
      </div>
  </div>
</div>
</div>