<div class="row">
	<div class="box">
		<div class="col-lg-12">
			<hr>
			<h2 class="intro-text text-center">Yhteystiedot ja<br><br>
			<strong>henkilökunta</strong>
			</h2>
			
			<hr>
			<ul>
				<li>Toiminnanohjaaja - <strong>Lea Heino</strong></li>
				<li>Järjestötyöntekijä - <strong>Tiina Tuovinen</strong></li>
				<li>Kokki - <strong>Sinikka Kontula</strong></li>
				<li>Retkivastaava - <strong>Georgij Rojala</strong></li>
				<li>Verkkosivujen ylläpito - <strong>Otso</strong></li>
				
			</ul>
			<br>
			<p>
			Keittiö toimii työtoimintaan osallistuvien kuntoutujien voimin.
			Keittiörinkiläisiä käy keittiössä töissä viikottain 8-10 henkilöä.
			Keittiössä töissä esimerkiksi Juhani, Tiina,Tuula
			</p>
			
			<p>
			<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1979.4169323550718!2d25.0116671!3d60.2565625!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46920864fb4d4e03%3A0x46cc7dbeb09c034f!2sMalmin+raitti+19%2C+00700+Helsinki!5e0!3m2!1sfi!2sfi!4v1416424126042" width="670" height="550" frameborder="0" style="border:0"></iframe>
					

			<span class="glyphicon glyphicon-envelope"> </span>
			<a href="mailto:tukiyhdistys@kolumbus.fi">tukiyhdistys@kolumbus.fi</a>
			
			|
			
			<a href="https://www.facebook.com/tukiyhdistys.ry?ref=ts&fref=ts" target="newtab"><img src="../images/fb.jpg" alt=""></a>
			
			|

			<a class="reittiopas" target="_blank" href="http://www.reittiopas.fi/?showsearchformsaved=hide&from_in=&from=&via_in=&via=&via_time=0&to_in=Malmin+raitti+19+A&to=&hour=18&minute=21&timetype=departure&date_cb=on&day=14&month=1&year=2014&cmargin=3&wspeed=70&method=1&stz=0&mc1=0&mc2=0&mc3=0&mc4=0&mc5=0&mc6=0&mc0=1&nroutes=3&gotoHash=#"><img src="../images/reittiopas.png" alt=""></a>
			</p>
		</div>
	</div>
</div>